/* src/App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d0d0d;
  color: white;
}

.app-container {
  padding: 20px;
}

/* === TOP LOGO === */
.top-logo img {
  height: 50px;
}

/* === HERO SECTION === */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.hero-text {
  width: 50%;
  font-size: 1.5rem;
}

.hero-image img {
  width: 400px;
  height: auto;
  border-radius: 12px;
}

/* === BOTTOM SECTION === */
.bottom-section {
  margin-top: 80px;
  border-top: 1px solid #333;
  padding-top: 40px;
}

.bottom-section h2 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  text-align: center; /* centers text horizontally */
}



.bottom-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-icon {
  cursor: pointer;
  transition: transform 0.2s;
}
.nav-icon:hover {
  transform: scale(1.2);
}

.doc-preview img {
  width: 120px;
  height: auto;
  border-radius: 10px;
}
.doc-preview p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.energy-doc-section {
  display: flex;
  align-items: center;
  margin: 40px 0;
  gap: 30px;
  justify-content: space-between; /* Pushes children to far left and right */
  padding: 20px;


}

.energy-doc-button {
  font-family: 'Orbitron', sans-serif;
  padding: 200px 100px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #1e1e1e;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.energy-doc-button:hover {
  background-color: #9e9a9a;
  color:#0d0d0d;
}

.energy-doc-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  margin-left: 70px; /* Pushes it more to the right */
  position: absolute; /* Allows it to overlap the button */
  right: 500px;
  top: 130%;
  transform: translateY(-50%);
  text-align: right;

}


.energy-doc-avatar {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 5px;
}

.energy-doc-text {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.energy-doc-container {
  position: relative;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: flex-start; /* Button stays on the left */
  align-items: center;
  padding: 0 50px;
}
